/* Other */

.search-products {
    background-image: url(../assets/bg.jpg);
    height: 100vh;
    background-position: fixed;
}

.card-btn {
    width: 45%;
    margin-left: 5px;
    margin-right: 5px;
}

/* Search Box  */
.search-box {
    margin-top: 25vh;
    height: 300px;
    background-color: black;
    padding-top: 120px;
    opacity: 0.5;
    border-radius: 10px;
}

/* Carousel  */
#myCarousel {
    height: 100vh;
    background-color: #636363;
    overflow: hidden;
}

.carousel-inner > .carousel-item > img {
    width: 100%;
}

/* Media Queries */

@media (max-width: 992px) {
    #myCarousel {
        display: none;
    }

    .nav-btn {
        border: none;
        margin-left: 0;
        text-align: left;
    }
}

@media (max-width: 768px) {
    .main-content {
        margin-top: 60px;
    }
}
